<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--生成饼状图 配置 -->
	<bean id="eChartAction" class="com.hsmt.action.EChartAction">
		<property name="eChartService" ref="eChartService" />
	</bean>
	<bean id="eChartService" class="com.hsmt.service.impl.EChartServiceImpl">
		<property name="eChartDao" ref="eChartDao" />
	</bean>
	<bean id="eChartDao" class="com.hsmt.dao.impl.EChartDaoImpl">
	</bean>
</beans>
