<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--产品信息的配置  -->
	<bean id="freeChartAction" class="com.hsmt.action.FreeChartAction">
		<property name="freeChartService" ref="freeChartService" />
	</bean>
	<bean id="freeChartService" class="com.hsmt.service.impl.FreeChartServiceImpl">
		<property name="freeChartDao" ref="freeChartDao" />
	</bean>
	<bean id="freeChartDao" class="com.hsmt.dao.impl.FreeChartDaoImpl">
	</bean>
</beans>
